.first{
    color: brown;
 }
 .flexible-container{
     display: flex;
 }
 h1{
     font-size: 40px;
 }
 p{
     font-size: 20px;
 }
 .second{
     padding-left: 20px;
 }
 .third{
     padding: 20px;
 }
 .link-button{
     font-size: 30px;
     text-decoration: bisque;
     background-color: dimgrey;
     padding: 10px 40px;
     border-radius: 5px;
     background-image: linear-gradient(orange,tomato);
     color: white;
     font-weight: 700;
 }
 .top-banner{
     background-image: url(top-banner.png);
     background-repeat: no-repeat;
 }
 body{
     margin: 0;
 }
 .dream-big{
    padding-left: 50px;
    padding-top:100px;
 }
 .moga{
    padding-left: 10px;
    padding-top: 10px;
 }
 .dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;  
    background-position: right;
   }
   .half-width{
    padding-left: 20px;
    padding-right: 50px;
}
.shadow{
    padding-left: 40px 40px 30px 50px;
    box-shadow: 10px 10px 60px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   }
   .ha{
    padding-left: 40px;
   }
   .experience-area{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
   }
   #tohin{
    border-left: 10px solid blue;
   }
   #mohin{
    border-left: 10px solid tomato;
   }
   footer p{
    text-align: center;
   }